#viewMap {
    padding: 0;
    margin : 0;
    height : 500px;
    width  : 100%;
}

.esri-popup__header {
    z-index: 999999;
}

.esri-popup__content {
    z-index: 999999;
}

#contLoadingDiv {
    position: fixed;
    left    : 0px;
    top     : 0px;
    width   : 100%;
    height  : 100%;
    z-index : 9999;
}

/* #loadingDiv {
    position: fixed;
    left    : 0px;
    top     : 0px;
    width   : 100%;
    height  : 100%;
    z-index : 9999;
} */

label.error {
    background-color: #ff7070;
    color: #ffffff;
    margin-top: 5px;
    padding: 1px 10px;
    border-radius: 20px;
}

#modalSave {
    padding-right: 0px !important;
}

#modalDialogSave {
    margin: 0 !important;
}

#modalContentSave {
    border-radius: 0;
}